<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thumbnail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/thumbnail.css" />
  </head>
  <body>
    <div class="thumbnail">
      <img class="ellipse-771" src="./assets/vectors/ellipse771_x2.svg" />
      <img class="rectangle-337" src="./assets/vectors/rectangle337_x2.svg" />
      <img class="rectangle-336" src="./assets/vectors/rectangle336_x2.svg" />
      <div class="text">
      Admin Dashboard
      </div>
      <div class="frame-492811">
        <span class="text-3">
        <a href="/manageAccount">Manage Your Account</a>    
        </span>
        <img class="vector-2" src="../assets/vectors/vector108_x2.svg" />
      </div>
      <div class="frame-49292">
        <div class="frame-49281">
          <span class="text-1">
          <a href="/manageAccountDashboard">Manage Account Dashboard</a>
          </span>
          <img class="vector" src="../assets/vectors/vector114_x2.svg" />
        </div>
      </div>
      <div class="frame-49277">
        <span class="text-2">
        <a href="/historyPayment">History Payment Dashboard</a>
        </span>
        <img class="vector-1" src="../assets/vectors/vector62_x2.svg" />
      </div>
    </div>
  </body>
</html>